
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var pageTitle = page.category ? `${ _p('category') } · ${ page.category || __('all') }` : page.tag ? `${ _p('tag') } · ${ page.tag || __('all') }` : page.year ? `${ _p('archive') } · ${ page.year || __('all') }` : page.title
- var appearance = theme.appearance ? theme.appearance : 'auto'
- var currentUrl = url.slice(-11) === '/index.html' ? url.slice(0, -10) : url
- var hasVideos = false
- var hasCode = false
- var hasIframe = false

doctype html
html(lang=config.language class= `appearance-${ appearance }`)
  head
    meta(charset='UTF-8')
    link(rel="canonical" href= currentUrl)
    if page.languages
      each url, lang in page.languages
        link(rel="alternate" href= url hreflang= lang)
    if typeof page.prev === number && page.prev > 0
      link(rel="prev" href= url_for(page.prev_link))
    if typeof page.next === number && page.next > 0
      link(rel="next" href= url_for(page.next_link))
    title= pageTitle ? `${ pageTitle } | ${ theme.short2 }` : theme.title
    meta(name="description" content= config.description || theme.user && theme.user.description)
    meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="apple-touch-icon" href= url_for(theme.favicon))
    if theme.favicon_svg
      link(rel="icon" type="image/svg+xml" href= url_for(theme.favicon_svg))

    link(rel="preload" href= url_for('/style/base.css') as= 'style')
    link(rel="preload" href= url_for('/js/common.js') as= 'script')

    link(rel="dns-prefetch" href= 'https://cdn.ze3kr.com/')
    link(rel="preconnect" href= 'https://cdn.ze3kr.com/')
    link(rel="preconnect" href= 'https://cdn.ze3kr.com/' crossorigin)
    link(rel="dns-prefetch" href= 'https://utteranc.es/')
    link(rel="preconnect" href= 'https://utteranc.es/')
    link(rel="dns-prefetch" href= 'https://api.utteranc.es/')
    link(rel="preconnect" href= 'https://api.utteranc.es/')
    link(rel="dns-prefetch" href= 'https://api.github.com/')
    link(rel="preconnect" href= 'https://api.github.com/')
    link(rel="dns-prefetch" href= 'https://avatars.githubusercontent.com/')
    link(rel="preconnect" href= 'https://avatars.githubusercontent.com/')

    link(rel="stylesheet" href= url_for('/style/base.css'))

    block head

    script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5523331422060800" crossorigin="anonymous")

  body.is-flex.is-flex-direction-column
    include widget-header
    main
      block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
      if typeof isIndex === 'undefined'
        section.sns-container
          include widget-sns
      p
        span Copyright ©
        - var author = (theme.user && theme.user.name) || config.author || ''
        span= ' ' + author + '. '
        span!= theme.license
      //- div.is-flex.is-justify-content-center.is-flex-wrap-wrap
      //-   p Powered by Hexo &verbar;&nbsp;
      //-   p.is-flex.is-justify-content-center
      //-     a(title="Hexo theme author" href='//github.com/haojen') Theme by Haojen&nbsp;
      div
        span!= theme.user && theme.user.footnotes

    script(src= url_for("/js/common.js"))
    script.
      var matomoTrack = $claudia.throttle(function (e) {
        window._paq && _paq.push(e)
      }, 500)
      function streamLoaded () {
        document.querySelectorAll('stream').forEach(function (video) {
          video.parentNode.previousElementSibling.classList.remove('is-hidden')
          video.addEventListener('loadedmetadata', (event) => {
            videoScroll()
            video.parentNode.classList.remove('skeleton')
          })
          video.addEventListener('playing', (event) => {
            video['data-playing'] = true
            video.classList.remove('is-hidden')
            video.parentNode.classList.remove('skeleton-with-content')
            video.previousElementSibling.classList.add('is-hidden')
          })
        })

        window.addEventListener('load', function() {
          setTimeout(videoScroll, 500)
          window.addEventListener('scroll', videoScroll)
        })
      }
    if hasVideos
      script(async src= url_for("/js/sdk-iframe-integration.fla9.latest.js") onload='streamLoaded()')
    else
      script.
        streamLoaded()
    block script
    noscript
      img(referrerpolicy="no-referrer-when-downgrade" src=`/api/a?idsite=3&amp;rec=1&amp;action_name=${encodeURIComponent(`${ pageTitle } | ${ theme.user.name }`)}` style="border:0" alt="")
    script.
      var _paq = window._paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="/api/";
        _paq.push(['setTrackerUrl', u+'a']);
        _paq.push(['setSiteId', '#{theme.piwik}']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'a.js'; s.parentNode.insertBefore(g,s);
      })();

      var searchDatabase = []

      function renderSearchResults(results, searchResultEl) {
          searchResultEl.innerHTML = null
          var fragment = document.createDocumentFragment()

          results.forEach(function (item) {
              var link = document.createElement('a')
              var title = document.createElement('h5')
              var content = document.createElement('p')

              title.className = 'mb-1'
              title.innerText = item.title
              content.innerHTML = item.content

              link.href = item.link
              link.appendChild(title)
              link.appendChild(content)
              link.className = 'p-4 is-block'

              fragment.appendChild(link)
          })

          searchResultEl.appendChild(fragment)
          searchResultEl.style.maxHeight = '550px'
      }

      function searching(inputText) {
          var inputTexts = inputText.split(' ')
          var searchResults = []
          inputTexts.forEach(function (searchKey) {
              var haveSearchValue = Boolean(searchKey.trim())
              if (!haveSearchValue) return

              var key = searchKey.toLowerCase()

              for (var entry of searchDatabase) {
                  var title = entry.getElementsByTagName('title')[0].textContent
                  var link = entry.getElementsByTagName('link')[0].getAttribute('href')
                  var contentWithTags = entry.getElementsByTagName('content')[0].textContent
                  var content = contentWithTags.trim().replace(/<[^>]+>/g, '')
                  var rawContent = content.toLowerCase()

                  var LENGTH = 80
                  var finalContent = ''
                  var contentLength = rawContent.length
                  var searchResultIdx = rawContent.indexOf(key)

                  var startIdx = searchResultIdx - 20,
                      endIdx = startIdx + LENGTH

                  if (startIdx < 0) {
                      startIdx = 0
                      endIdx = 100
                  }

                  endIdx > contentLength && (endIdx = contentLength)

                  finalContent = content.substring(startIdx, endIdx)

                  if (title.toLowerCase().indexOf(key) > -1) {
                      searchResults.unshift({
                          link: link,
                          title: title,
                          content: finalContent,
                      })
                  } else if (searchResultIdx > -1) {
                      searchResults.push({
                          link: link,
                          title: title,
                          content: finalContent,
                      })
                  }
              }
          })
          return searchResults
      }
 
    if config.language1 && config.language2 
      script.
        switch( (navigator.language || navigator.userLanguage || "").slice(0, 2).toLowerCase() ) {
          case "#{config.language1}".slice(0, 2).toLowerCase():
            document.querySelectorAll('span[lang="#{config.language1}"], i[lang="#{config.language1}"], a[lang="#{config.language1}"]').forEach(span => span.classList.remove('is-hidden'))
            document.querySelectorAll('span[lang="#{config.language2}"], i[lang="#{config.language2}"], a[lang="#{config.language2}"]').forEach(span => span.classList.add('is-hidden'))
            break;
          case "#{config.language2}".slice(0, 2).toLowerCase():
            document.querySelectorAll('span[lang="#{config.language2}"], i[lang="#{config.language2}"], a[lang="#{config.language2}"]').forEach(span => span.classList.remove('is-hidden'))
            document.querySelectorAll('span[lang="#{config.language1}"], i[lang="#{config.language1}"], a[lang="#{config.language1}"]').forEach(span => span.classList.add('is-hidden'))
            break;
        }
    script.
      $claudia.fadeInImage(null, $claudia.blurBackdropImg)

      window.addEventListener('resize', $claudia.throttle(function () {
        var images = document.querySelectorAll('.js-img-fadeIn')
        images.forEach($claudia.blurBackdropImg)
      }, 150))

      var timeout

      function videoScroll () {
        if (timeout) {
          clearTimeout(timeout)
        }
        timeout = setTimeout(function () {
          var hasHover = false
          document.querySelectorAll('.tlo-header').forEach(function (header) {
            if (!hasHover && header.getBoundingClientRect().top + header.clientHeight < window.innerHeight && header.getBoundingClientRect().top > 58) {
              header.classList.add('hover')
              hasHover = true

              var video = header.querySelector('stream')
              if (video) {
                if (!video['data-playing']) {
                  video.parentNode.classList.add('skeleton-with-content')
                }
                if (!video['data-loaded']) {
                  video['data-loaded'] = true
                }
                try {
                  video.play()
                } catch(_) {
                  video['data-playing'] = true
                  video.parentNode.classList.remove('skeleton-with-content')
                }
              }
            } else {
              header.classList.remove('hover')

              var video = header.querySelector('stream')
              if (video) {
                video.parentNode.classList.remove('skeleton-with-content')
                video.pause()
                video['data-loaded'] = false
              }
            }
          })
        }, 100)
      }

    .
      <svg aria-hidden="true" style="position: absolute; width: 0px; height: 0px; overflow: hidden;">
        <symbol id="icon-location-fill" viewBox="0 0 1024 1024"><path d="M512 327c-29.9 0-58 11.6-79.2 32.8C411.7 381 400 409.1 400 439c0 29.9 11.7 58 32.8 79.2C454 539.3 482.1 551 512 551c29.9 0 58-11.7 79.2-32.8C612.4 497 624 468.9 624 439c0-29.9-11.6-58-32.8-79.2S541.9 327 512 327z"></path><path d="M854.6 289.1c-18.8-43.4-45.7-82.3-79.9-115.7-34.2-33.4-73.9-59.5-118.2-77.8C610.7 76.6 562.1 67 512 67c-50.1 0-98.7 9.6-144.5 28.5-44.3 18.3-84 44.5-118.2 77.8-34.2 33.4-61.1 72.4-79.9 115.7-19.5 45-29.4 92.8-29.4 142 0 70.6 16.9 140.9 50.1 208.7 26.7 54.5 64 107.6 111 158.1 80.3 86.2 164.5 138.9 188.4 153 6.9 4.1 14.7 6.1 22.4 6.1 7.8 0 15.5-2 22.4-6.1 23.9-14.1 108.1-66.8 188.4-153 47-50.4 84.3-103.6 111-158.1C867.1 572 884 501.8 884 431.1c0-49.2-9.9-97-29.4-142zM512 615c-97.2 0-176-78.8-176-176s78.8-176 176-176 176 78.8 176 176-78.8 176-176 176z"></path></symbol>
        <symbol id="icon-search" viewBox="0 0 1024 1024"><path d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6c3.2 3.2 8.4 3.2 11.6 0l43.6-43.5c3.2-3.2 3.2-8.4 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z"></path></symbol>
        <symbol id="icon-feed" viewBox="0 0 1024 1024"><path d="M320.374394 768q0 45.714286-32 77.714286t-77.714285 32-77.714286-32-32-77.714286 32-77.714286 77.714286-32 77.714285 32 32 77.714286z m292.571429 70.285714q1.142857 16-9.714286 27.428572-10.285714 12-26.857143 12H499.231537q-14.285714 0-24.571428-9.428572t-11.428572-23.714285q-12.571429-130.857143-105.428571-223.714286T134.08868 515.428571q-14.285714-1.142857-23.714286-11.428571T100.945823 479.428571V402.285714q0-16.571429 12-26.857143 9.714286-9.714286 24.571428-9.714285h2.857143q91.428571 7.428571 174.857143 46T463.231537 515.428571q65.142857 64.571429 103.714286 148t46 174.857143z m292.571428 1.142857q1.142857 15.428571-10.285714 26.857143-10.285714 11.428571-26.285714 11.428572h-81.714286q-14.857143 0-25.428571-10T750.660109 843.428571q-6.857143-122.857143-57.714286-233.428571t-132.285714-192-192-132.285714T135.231537 227.428571q-14.285714-0.571429-24.285714-11.142857T100.945823 191.428571V109.714286q0-16 11.428571-26.285715 10.285714-10.285714 25.142857-10.285714h1.714286q149.714286 7.428571 286.571429 68.571429T668.945823 309.714286q106.857143 106.285714 168 243.142857t68.571428 286.571428z"></path></symbol>
        <symbol id="icon-right" viewBox="0 0 1024 1024"><path d="M765.7 486.8L314.9 134.7c-5.3-4.1-12.9-0.4-12.9 6.3v77.3c0 4.9 2.3 9.6 6.1 12.6l360 281.1-360 281.1c-3.9 3-6.1 7.7-6.1 12.6V883c0 6.7 7.7 10.4 12.9 6.3l450.8-352.1c16.4-12.8 16.4-37.6 0-50.4z"></path></symbol>
        <symbol id="icon-left" viewBox="0 0 1024 1024"><path d="M724 218.3V141c0-6.7-7.7-10.4-12.9-6.3L260.3 486.8c-16.4 12.8-16.4 37.5 0 50.3l450.8 352.1c5.3 4.1 12.9 0.4 12.9-6.3v-77.3c0-4.9-2.3-9.6-6.1-12.6l-360-281 360-281.1c3.8-3 6.1-7.7 6.1-12.6z"></path></symbol>
        <symbol id="icon-mail-fill" viewBox="0 0 1024 1024"><path d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32z m-80.8 108.9L531.7 514.4c-7.8 6.1-18.7 6.1-26.5 0L189.6 268.9c-1.8-1.4-2.8-3.5-2.8-5.7 0-4 3.2-7.2 7.2-7.2h648.8c2.2 0 4.3 1 5.7 2.8 2.4 3.1 1.9 7.6-1.3 10.1z"></path></symbol>
        <symbol id="icon-weibo" viewBox="0 0 1024 1024"><path d="M457.3 543c-68.1-17.7-145 16.2-174.6 76.2-30.1 61.2-1 129.1 67.8 151.3 71.2 23 155.2-12.2 184.4-78.3 28.7-64.6-7.2-131-77.6-149.2z m-52 156.2c-13.8 22.1-43.5 31.7-65.8 21.6-22-10-28.5-35.7-14.6-57.2 13.7-21.4 42.3-31 64.4-21.7 22.4 9.5 29.6 35 16 57.3z m45.5-58.5c-5 8.6-16.1 12.7-24.7 9.1-8.5-3.5-11.2-13.1-6.4-21.5 5-8.4 15.6-12.4 24.1-9.1 8.7 3.2 11.8 12.9 7 21.5zM785.3 443.5c15 4.8 31-3.4 35.9-18.3 11.8-36.6 4.4-78.4-23.2-109-27.6-30.6-68.4-42.3-106-34.3-15.4 3.3-25.2 18.4-21.9 33.8 3.3 15.3 18.4 25.2 33.8 21.8 18.4-3.9 38.3 1.8 51.9 16.7 13.5 15 17.2 35.4 11.3 53.3-4.9 15.1 3.2 31.1 18.2 36z"  ></path><path d="M885.1 237.5c-56.7-62.9-140.4-86.9-217.7-70.5-17.9 3.8-29.3 21.4-25.4 39.3 3.8 17.9 21.4 29.3 39.3 25.5 55-11.7 114.4 5.4 154.8 50.1 40.3 44.7 51.2 105.7 34 159.1-5.6 17.4 3.9 36 21.3 41.7 17.4 5.6 36-3.9 41.6-21.2v-0.1c24.1-75.4 8.9-161.1-47.9-223.9zM729 499c-12.2-3.6-20.5-6.1-14.1-22.1 13.8-34.7 15.2-64.7 0.3-86-28-40.1-104.8-37.9-192.8-1.1 0 0-27.6 12.1-20.6-9.8 13.5-43.5 11.5-79.9-9.6-101-47.7-47.8-174.6 1.8-283.5 110.6C127.3 471.1 80 557.5 80 632.2 80 775.1 263.2 862 442.5 862c235 0 391.3-136.5 391.3-245 0-65.5-55.2-102.6-104.8-118zM443 810.8c-143 14.1-266.5-50.5-275.8-144.5-9.3-93.9 99.2-181.5 242.2-195.6 143-14.2 266.5 50.5 275.8 144.4C694.4 709 586 796.6 443 810.8z"></path></symbol>
        <symbol id="icon-t" viewBox="0 0 1024 1024"><path d="M928 254.3c-30.6 13.2-63.9 22.7-98.2 26.4 35.4-21.1 62.3-54.4 75-94-32.7 19.5-69.7 33.8-108.2 41.2C765.4 194.6 721.1 174 672 174c-94.5 0-170.5 76.6-170.5 170.6 0 13.2 1.6 26.4 4.2 39.1-141.5-7.4-267.7-75-351.6-178.5-14.8 25.4-23.2 54.4-23.2 86.1 0 59.2 30.1 111.4 76 142.1-28-1.1-54.4-9-77.1-21.7v2.1c0 82.9 58.6 151.6 136.7 167.4-14.3 3.7-29.6 5.8-44.9 5.8-11.1 0-21.6-1.1-32.2-2.6C211 652 273.9 701.1 348.8 702.7c-58.6 45.9-132 72.9-211.7 72.9-14.3 0-27.5-0.5-41.2-2.1C171.5 822 261.2 850 357.8 850 671.4 850 843 590.2 843 364.7c0-7.4 0-14.8-0.5-22.2 33.2-24.3 62.3-54.4 85.5-88.2z"></path></symbol>
        <symbol id="icon-github-fill" viewBox="0 0 1024 1024"><path d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5 64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9 26.4 39.1 77.9 32.5 104 26 5.7-23.5 17.9-44.5 34.7-60.8-140.6-25.2-199.2-111-199.2-213 0-49.5 16.3-95 48.3-131.7-20.4-60.5 1.9-112.3 4.9-120 58.1-5.2 118.5 41.6 123.2 45.3 33-8.9 70.7-13.6 112.9-13.6 42.4 0 80.2 4.9 113.5 13.9 11.3-8.6 67.3-48.8 121.3-43.9 2.9 7.7 24.7 58.3 5.5 118 32.4 36.8 48.9 82.7 48.9 132.3 0 102.2-59 188.1-200 212.9 23.5 23.2 38.1 55.4 38.1 91v112.5c0.8 9 0 17.9 15 17.9 177.1-59.7 304.6-227 304.6-424.1 0-247.2-200.4-447.3-447.5-447.3z"></path></symbol>
        <symbol id="icon-instagram-fill" viewBox="0 0 1024 1024"><path d="M512 378.7c-73.4 0-133.3 59.9-133.3 133.3S438.6 645.3 512 645.3 645.3 585.4 645.3 512 585.4 378.7 512 378.7z"></path><path d="M911.8 512c0-55.2 0.5-109.9-2.6-165-3.1-64-17.7-120.8-64.5-167.6-46.9-46.9-103.6-61.4-167.6-64.5-55.2-3.1-109.9-2.6-165-2.6-55.2 0-109.9-0.5-165 2.6-64 3.1-120.8 17.7-167.6 64.5C132.6 226.3 118.1 283 115 347c-3.1 55.2-2.6 109.9-2.6 165s-0.5 109.9 2.6 165c3.1 64 17.7 120.8 64.5 167.6 46.9 46.9 103.6 61.4 167.6 64.5 55.2 3.1 109.9 2.6 165 2.6 55.2 0 109.9 0.5 165-2.6 64-3.1 120.8-17.7 167.6-64.5 46.9-46.9 61.4-103.6 64.5-167.6 3.2-55.1 2.6-109.8 2.6-165zM512 717.1c-113.5 0-205.1-91.6-205.1-205.1S398.5 306.9 512 306.9 717.1 398.5 717.1 512 625.5 717.1 512 717.1z m213.5-370.7c-26.5 0-47.9-21.4-47.9-47.9s21.4-47.9 47.9-47.9 47.9 21.4 47.9 47.9c-0.1 26.6-21.4 47.9-47.9 47.9z"></path></symbol>
        <symbol id="icon-telegram" viewBox="0 0 1024 1024"><path d="M512 938.666667C276.352 938.666667 85.333333 747.648 85.333333 512S276.352 85.333333 512 85.333333s426.666667 191.018667 426.666667 426.666667-191.018667 426.666667-426.666667 426.666667z m-132.693333-376.746667l0.554666-0.298667 37.12 122.453334c4.778667 13.269333 11.349333 15.658667 19.328 14.549333 8.021333-1.066667 12.245333-5.376 17.493334-10.410667l50.688-48.981333 108.8 80.554667c19.882667 10.965333 34.176 5.290667 39.125333-18.432l70.698667-333.738667c7.808-31.061333-5.845333-43.52-29.952-33.621333l-415.274667 160.426666c-28.330667 11.349333-28.16 27.221333-5.12 34.261334l106.538667 33.28z" p-id="5206"></path></symbol>
      </svg>