
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- var pageTitle = page.title || theme.user && theme.title
- var appearance = theme.appearance ? theme.appearance : 'auto'
- var currentUrl = url.slice(-11) === '/index.html' ? url.slice(0, -10) : url

doctype html
html(lang=config.language class= `appearance-${ appearance }`)
  head
    meta(charset='UTF-8')
    title= `${ pageTitle } | ${ theme.short2 }`
    meta(name="description" content= config.description || theme.user && theme.user.description)
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, initial-scale=1, viewport-fit=cover")

    link(rel="icon" href= url_for(theme.favicon))
    link(rel="apple-touch-icon" href= url_for(theme.favicon))
    if theme.favicon_svg
      link(rel="icon" type="image/svg+xml" href= url_for(theme.favicon_svg))
    link(rel="stylesheet" href= url_for('/style/common/bulma.css'))
    link(rel="stylesheet" href= url_for('/style/base.css'))
    link(rel="stylesheet" href= url_for('/style/common/helper.css'))
    link(rel="canonical" href= currentUrl)
    link(rel="dns-prefetch" href= 'http://guozeyu.com/')
    link(rel="preconnect" href= 'https://guozeyu.com/')
    link(rel="dns-prefetch" href= 'http://p.guozeyu.com/')
    link(rel="preconnect" href= 'https://p.guozeyu.com/')
    link(rel="dns-prefetch" href= 'http://ui-avatars.tloxygen.com/')
    link(rel="preconnect" href= 'https://ui-avatars.tloxygen.com/')
    link(rel="dns-prefetch" href= 'http://videodelivery.net/')
    link(rel="preconnect" href= 'https://videodelivery.net/')
    link(rel="preconnect" href= 'https://videodelivery.net/' crossorigin)
    link(rel="dns-prefetch" href= 'http://matomo.tloxygen.com/')
    link(rel="preconnect" href= 'https://matomo.tloxygen.com/')
    link(rel="dns-prefetch" href= 'http://utteranc.es/')
    link(rel="preconnect" href= 'https://utteranc.es/')
    link(rel="dns-prefetch" href= 'http://api.utteranc.es/')
    link(rel="preconnect" href= 'https://api.utteranc.es/')
    link(rel="dns-prefetch" href= 'http://api.github.com/')
    link(rel="preconnect" href= 'https://api.github.com/')
    link(rel="dns-prefetch" href= 'http://avatars.githubusercontent.com/')
    link(rel="preconnect" href= 'https://avatars.githubusercontent.com/')

    script(src= url_for("/js/common.js"))
    block head

  body.is-flex.is-flex-direction-column
    include widget-header
    main
      block content
    footer.is-flex.is-flex-direction-column.is-align-items-center.is-flex-shrink-0.is-family-serif
      section.sns-container
        include widget-sns
      p
        span Copyright ©
        - var author = (theme.user && theme.user.name) || config.author || ''
        span= ' ' + author + '. '
          a(href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener nofollow") CC BY-NC-SA 4.0
      //- div.is-flex.is-justify-content-center.is-flex-wrap-wrap
      //-   p Powered by Hexo &verbar;&nbsp;
      //-   p.is-flex.is-justify-content-center
      //-     a(title="Hexo theme author" href='//github.com/haojen') Theme by Haojen&nbsp;
      div
        span!= theme.user && theme.user.footnotes

    script(src= url_for("/js/hls.js"))
    script(src= url_for("/js/sdk.latest.js"))
    block script
    noscript
      img(referrerpolicy="no-referrer-when-downgrade" src=`https://matomo.tloxygen.com/matomo.php?idsite=3&amp;rec=1&amp;action_name=${encodeURIComponent(`${ pageTitle } | ${ theme.user.name }`)}` style="border:0" alt="")
    script.
      var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.guozeyu.com"]);
        _paq.push(["setDomains", ["*.guozeyu.com"]]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
          var u="https://matomo.tloxygen.com/";
          _paq.push(['setTrackerUrl', u+'matomo.php']);
          _paq.push(['setSiteId', '3']);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();

