-
    function isValidHttpUrl(string) {
        let url;
        
        try {
            url = new URL(string);
        } catch (_) {
            return false;  
        }

        return url.protocol === "http:" || url.protocol === "https:";
    }

    function getPostCoverImg(post) {
        if (isValidHttpUrl(post)) {
            return [post]
        }

        const firstImgElRegx = /<img[^>]+src="?([^"\s]+)".*?>/
        const coverImgElement = post?.content?.match?.(firstImgElRegx) || post?.match?.(firstImgElRegx)

        if (!coverImgElement){
            return [false]
        }

        const width = coverImgElement[0].match(/<img[^>]+width="?([^"\s]+)".*?>/)
        const height = coverImgElement[0].match(/<img[^>]+height="?([^"\s]+)".*?>/)

        return [coverImgElement[1], width?.[1], height?.[1]]
    }

    function getSrcset(imageUrl, width, height) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                (
                    imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/"
                ) && ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                const prefix = imageUrl.slice(0, -5);
                if (!width || (width > 6500 || height > 6500)) {
                    return prefix + 'wide10k 10000w, ' +
                        prefix + 'wide6k 6500w, ' +
                        prefix + 'wide4k 4000w, ' +
                        prefix + 'extra 2600w, ' +
                        prefix + 'large 1500w, ' +
                        prefix + 'medium 800w'
                }
                if (width > 4000 || height > 4000) {
                    return prefix + 'wide6k 6500w, ' +
                        prefix + 'wide4k 4000w, ' +
                        prefix + 'extra 2600w, ' +
                        prefix + 'large 1500w, ' +
                        prefix + 'medium 800w'
                }
                if (width > 2600 || height > 2600) {
                    return prefix + 'wide4k 4000w, ' +
                        prefix + 'extra 2600w, ' +
                        prefix + 'large 1500w, ' +
                        prefix + 'medium 800w'
                }
                if (width > 1500 || height > 1500) {
                    return prefix + 'extra 2600w, ' +
                        prefix + 'large 1500w, ' +
                        prefix + 'medium 800w'
                }
                if (width > 800 || height > 800) {
                    return prefix + 'large 1500w, ' +
                        prefix + 'medium 800w'
                }
                return prefix + 'medium 800w'
            } else if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                imageUrl.slice(54, 79) === '/thumbnails/thumbnail.jpg'
            ) {
                const w2000 = new URL(imageUrl)
                w2000.searchParams.set('width', '2000')
                const w1200 = new URL(imageUrl)
                w1200.searchParams.set('width', '1200')
                const w800 = new URL(imageUrl)
                w800.searchParams.set('width', '800')
                return w2000 + ' 2000w, ' + w1200 + ' 1200w, ' + w800 + ' 800w'
            }
        }
        
        return ""
    }

    function getThumbnail(imageUrl) {
        if ( typeof imageUrl.slice === "function" ) {
            if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                ( imageUrl.slice(-6) === "/large" || imageUrl.slice(-6) === "/extra" )
            ) {
                return imageUrl.slice(0, -5) + 'thumbnail'
            } else if (
                imageUrl.slice(0, 45) === "https://cdn.ze3kr.com/6T-behmofKYLsxlrK0l_MQ/" &&
                imageUrl.slice(54, 79) === '/thumbnails/thumbnail.jpg'
            ) {
                const w200 = new URL(imageUrl)
                w200.searchParams.set('width', '200')
                w200.searchParams.set('height', '200')
                return '' + w200
            }
        }
        return imageUrl
    }

    function parseContent(content) {
        return content.replace(/<img([\w\W]+?)>/g, function(img) {
            let srcset = ''
            let src = ''
            let alt = ''
            let width = ''
            let height = ''
            img.replace(/alt="([^"]+)"/, function(str) {
                alt = str.slice(5, -1)
            })
            img.replace(/width="([^"]+)"/, function(str) {
                width = str.slice(7, -1)
            })
            img.replace(/height="([^"]+)"/, function(str) {
                height = str.slice(8, -1)
            })
            img.replace(/src="([^"]+)"/, function(str) {
                src = str.slice(5, -1)
                srcset = getSrcset(src, width, height)
            })
            let imgtag = `<img src="${src}" width="${width}" height="${height}" srcset="${srcset}" alt="${alt}" sizes="(min-width: 1805px) 1300px, (min-width: 1408px) 1002px, (min-width: 1216px) 858px, (min-width: 1024px) 714px, (min-width: 769px) 75vw, 100vw" loading="lazy">`
            if (alt) {
                return `<figure>${imgtag}<figcaption>${alt}</figcaption></figure>`
            }
            return `<figure>${imgtag}</figure>`
        }).replace(/<iframe([\w\W]+?)>/g, function(iframe) {
            let src
            iframe.replace(/src="([^"]+)"/, function(str) {
                src = new URL(str.slice(5, -1))
            })
            if (src && src.href.slice(0, 29) === 'https://cdn.ze3kr.com/iframe/') {
                //- return `<stream width="100%" height="100%" src="${ src.pathname.slice(8) }"${ src.searchParams.get('preload') === 'true' ? ' preload=auto' : src.searchParams.get('preload') === 'metadata' ? ' metadata' : '' }${ src.searchParams.get('autoplay') === 'true' ? ' autoplay' : '' }${ src.searchParams.get('controls') === 'false' ? '' : ' controls' }${ src.searchParams.get('poster') ? ` poster="${ src.searchParams.get('poster') }"` : '' }${ src.searchParams.get('muted') === 'true' ? ' muted' : '' }${ src.searchParams.get('loop') === 'true' ? ' loop' : '' }${ src.searchParams.get('startTime') ? ` start-time="${ src.searchParams.get('startTime') }` : '' }${ src.searchParams.get('primaryColor') ? ` primary-color="${ src.searchParams.get('primaryColor') }"` : '' }></stream>`
                const srcdoc = `<!DOCTYPE html><html><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/><meta name="description" content="Stream"/><title>Stream</title><style>html, body { height: 100%; } body { margin: 0px; overflow: hidden;}</style></head><body><stream width="100%" height="100%" src="${ src.pathname.slice(8) }"${ src.searchParams.get('preload') === 'true' ? ' preload=auto' : src.searchParams.get('preload') === 'metadata' ? ' metadata' : '' }${ src.searchParams.get('autoplay') === 'true' ? ' autoplay' : '' }${ src.searchParams.get('controls') === 'false' ? '' : ' controls' }${ src.searchParams.get('poster') ? ` poster="${ src.searchParams.get('poster') }"` : '' }${ src.searchParams.get('muted') === 'true' ? ' muted' : '' }${ src.searchParams.get('loop') === 'true' ? ' loop' : '' }${ src.searchParams.get('startTime') ? ` start-time="${ src.searchParams.get('startTime') }` : '' }${ src.searchParams.get('primaryColor') ? ` primary-color="${ src.searchParams.get('primaryColor') }"` : '' }></stream><script data-cfasync="false" defer="" type="text/javascript" src="/js/sdk-iframe-integration.fla9.latest.js"></script></body></html>`
                return `<iframe srcdoc='${srcdoc}' loading="lazy"${iframe.slice(7)}`
            }
            return `<iframe loading="lazy"${iframe.slice(7)}`
        }).replace(/<table([\w\W]+?)>(?:.|\n)*?<\/table>/g, function(table) {
            return `<figure class="my-table">${table}</figure>`
        })
    }