
span#beforeA
ins.aside-card-container.categories-widget.p-0.adsbygoogle#widgetA(
        style="display:block"
        data-ad-client="ca-pub-5523331422060800"
        data-ad-slot="6951388710"
        data-ad-format="auto"
        data-full-width-responsive="false"
    )
span#afterA
script.
    google_language="#{config.language}"
    (adsbygoogle = window.adsbygoogle || []).push({})
if theme.ads && theme.ads.length > 0
    each ad in theme.ads
        a(href= ad.link)
            main.aside-card-container.categories-widget.tloA.is-hidden
                h3
                    i.tag.post-item-tag= __('ads')
                    = ad.title
                section!= ad.content
    script.
        addEventListener('load', function(){
            var testTloA = function() {
                if(
                    !document.getElementById('widgetA') ||
                    !document.getElementById('widgetA').clientHeight ||
                    !document.getElementById('beforeA') ||
                    !document.getElementById('afterA') ||
                    document.getElementById('afterA').offsetTop - document.getElementById('beforeA').offsetTop < 30 ||
                    !window.adsbygoogle
                ) {
                    var tloA = document.getElementsByClassName('tloA')
                    if (tloA) {
                        for (var i = 0; i < tloA.length; i++) {
                            tloA[i].classList.remove('is-hidden')
                        }
                    }
                    var tloB = document.getElementsByClassName('tloB')
                    if (tloB) {
                        for (var i = 0; i < tloB.length; i++) {
                            tloB[i].classList.add('is-hidden')
                        }
                    }
                } else {
                    var tloA = document.getElementsByClassName('tloA')
                    if (tloA) {
                        for (var i = 0; i < tloA.length; i++) {
                            tloA[i].classList.add('is-hidden')
                        }
                    }
                    var tloB = document.getElementsByClassName('tloB')
                    if (tloB) {
                        for (var i = 0; i < tloB.length; i++) {
                            tloB[i].classList.remove('is-hidden')
                        }
                    }
                }
            }
            testTloA()
            setTimeout(testTloA, 500)
            setTimeout(testTloA, 1000)
            setTimeout(testTloA, 2000)
        })
