main.aside-card-container.categories-widget
    ins(class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5523331422060800"
     data-ad-slot="6951388710"
     data-ad-format="auto"
     data-full-width-responsive="true")
    script.
        (adsbygoogle = window.adsbygoogle || []).push({});