
span#beforeA
ins.aside-card-container.categories-widget.p-0.adsbygoogle#widgetA(
        style="display:block"
        data-ad-client="ca-pub-5523331422060800"
        data-ad-slot="6951388710"
        data-ad-format="auto"
        data-full-width-responsive="false"
    )
span#afterA
script.
    (adsbygoogle = window.adsbygoogle || []).push({})
if theme.ads && theme.ads.length > 0
    each ad in theme.ads
        a(href= ad.link)
            main.aside-card-container.categories-widget.tloA.is-hidden
                h3
                    i.tag.post-item-tag= __('ads')
                    = ad.title
                section!= ad.content
    script.
        addEventListener('load', function(){
            var widgetA = document.getElementById('widgetA')
            var beforeA = document.getElementById('beforeA')
            var afterA = document.getElementById('afterA')
            var tloChild = document.querySelector('#widgetA > *').style.width
            var testTloA = function() {
                if(
                    !widgetA ||
                    !widgetA.clientHeight ||
                    !beforeA ||
                    !afterA ||
                    afterA.offsetTop - beforeA.offsetTop < 30 ||
                    !window.adsbygoogle
                ) {
                    var tloA = document.getElementsByClassName('tloA')
                    if (tloA) {
                        for (var i = 0; i < tloA.length; i++) {
                            tloA[i].classList.remove('is-hidden')
                        }
                    }
                    var tloB = document.getElementsByClassName('tloB')
                    if (tloB) {
                        for (var i = 0; i < tloB.length; i++) {
                            tloB[i].classList.add('is-hidden')
                        }
                    }
                } else {
                    var tloA = document.getElementsByClassName('tloA')
                    if (tloA) {
                        for (var i = 0; i < tloA.length; i++) {
                            tloA[i].classList.add('is-hidden')
                        }
                    }
                    var tloB = document.getElementsByClassName('tloB')
                    if (tloB) {
                        for (var i = 0; i < tloB.length; i++) {
                            tloB[i].classList.remove('is-hidden')
                        }
                    }
                }
            }
            testTloA()
            setTimeout(testTloA, 500)
            setTimeout(testTloA, 1000)
            setTimeout(testTloA, 2000)
            var tloScale = function() {
                if (widgetA && widgetA.style && tloChild && tloChild.style) {
                    var tloWidth = parseInt(tloChild.style.width, 10)
                    var tloWidthActual = document.getElementById('widgetA').clientWidth + 2
                    if (tloWidth > tloWidthActual) {
                        widgetA.style.margin = 0
                        widgetA.style.marginLeft = 0
                        tloChild.style.transformOriginX = "left"
                        tloChild.style.transform = "scaleX(" + (tloWidth/tloWidthActual) + ")"
                    }
                }
            }
            tloScale()
            setTimeout(tloScale, 500)
            setTimeout(tloScale, 1000)
            setTimeout(tloScale, 2000)
        })
