extends widget/base
block append head
  link(rel='stylesheet', href= url_for('/style/post.css'))
  meta(name="description", content=truncate( strip_html(page.content), {length: 360, omission: '..'} ))
block topic
    div#postTopic.is-full-height
        - var title = truncate( page.title, {length: 65, omission: '..'} ) || ''
        p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= title
        p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= __('click_back_to_the_top')

block content
    main.container.content.section.post-page.pt-4.px-4
        .columns.is-flex-desktop.is-justify-content-center.is-flex-direction-row-reverse
            .column.is-3.is-hidden
            .column.is-9
                h1.mt-0.mb-1.is-family-serif#postTitle= page.title
                article.mt-2.post-content!= page.content
