extends widget/base
block append head
    link(rel='stylesheet', href= url_for('/style/post.css'))
    if theme.highlight
        link(rel='stylesheet', href= url_for('/style/themes/highlight-theme-light.css'))
        script(src= url_for("/js/highlight.pack.js"))

    meta(name="description", content=truncate( strip_html(page.content), {length: 360, omission: '..'} ))
    if theme.comment_valine && theme.comment_valine.enable
        script(src="//unpkg.com/valine/dist/Valine.min.js")
block topic
    div#postTopic.is-full-height
        - let title = truncate( page.title, {length: 65, omission: '..'} ) || ''
        p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= title
        p.is-full-height.is-flex-shrink-0.is-flex.is-align-items-center.is-justify-content-center= __('click_back_to_the_top')

block content
    include widget/methods
    -
        function parseContent(content) {
            return content.replace(/<img([\w\W]+?)>/g, function(img) {
                let srcset = ''
                let src = ''
                let alt = ''
                img.replace(/src="([^"]+)"/, function(str) {
                    src = str.slice(5, -1)
                    srcset = getSrcset(src)
                })
                img.replace(/alt="([^"]+)"/, function(str) {
                    alt = str.slice(5, -1)
                })
                let imgtag = `<img src="${src}" srcset="${srcset}" alt="${alt}" sizes="(min-width: 1216px) 858px, (min-width: 1024px) 714px, (min-width: 769px) 75vw, 100vw" loading="lazy">`
                if (alt) {
                    return `<figure>${imgtag}<figcaption>${alt}</figcaption></figure>`
                }
                return `<figure>${imgtag}</figure>`
            }).replace(/<iframe([\w\W]+?)>/g, function(iframe) {
                let src
                iframe.replace(/src="([^"]+)"/, function(str) {
                    src = new URL(str.slice(5, -1))
                })
                if (src && src.origin === 'https://iframe.videodelivery.net') {
                    const srcdoc = `<!DOCTYPE html><html><head><meta charset="utf-8"/><meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/><meta name="description" content="Stream"/><title>Stream</title><style>html, body { height: 100%; } body { margin: 0px; overflow: hidden;}</style></head><body><stream width="100%" height="100%" src="${ src.pathname.slice(1) }"${ src.searchParams.get('preload') === 'true' ? ' preload=auto' : src.searchParams.get('preload') === 'metadata' ? ' metadata' : '' }${ src.searchParams.get('autoplay') === 'true' ? ' autoplay' : '' }${ src.searchParams.get('controls') === 'false' ? '' : ' controls' }${ src.searchParams.get('poster') ? ` poster="${ src.searchParams.get('poster') }"` : '' }${ src.searchParams.get('muted') === 'true' ? ' muted' : '' }${ src.searchParams.get('loop') === 'true' ? ' loop' : '' }${ src.searchParams.get('startTime') ? ` start-time="${ src.searchParams.get('startTime') }` : '' }${ src.searchParams.get('primaryColor') ? ` primary-color="${ src.searchParams.get('primaryColor') }"` : '' }></stream><script data-cfasync="false" defer="" type="text/javascript" src="/js/sdk-iframe-integration.fla9.latest.js"></script></body></html>`
                    return `<iframe srcdoc='${srcdoc}' loading="lazy"${iframe.slice(7)}`
                }
                return `<iframe loading="lazy"${iframe.slice(7)}`
            })
        }
    - const tocContent = toc(page.content, {list_number: false})
    main.container.is-max-widescreen.content.section.post-page.pt-4.px-4
        .columns.is-flex-desktop.is-justify-content-center.is-flex-direction-row-reverse
            .column.is-3.is-hidden-mobile(class= tocContent.length < 1 && 'is-hidden')!= tocContent
            .column.is-9
                header.my-4
                    if page.tags && page.tags.length > 0
                        each tag in page.tags.toArray()
                            a(href= url_for(`/tags/${tag.name}`))
                                i.tag.post-item-tag= tag.name
                h1.mt-0.mb-1.is-family-serif#postTitle= page.title
                if page.date
                    time.has-text-grey(datetime=page.date.toJSON())= date(page.date, date_format)
                article.mt-2.post-content!= parseContent(page.content)
                if page.video
                    a.button.is-default.mt-2.has-text-weight-semibold(href=`https://videodelivery.net/${page.video}/downloads/default.mp4` target="_blank" rel="noopener nofollow") 下载视频
                section.jump-container.is-flex.is-justify-content-space-between.my-6
                    // em is empty placeholder
                    if page.prev
                        - const preContent= `${ page.prev.title }`
                        a.button.is-default(href= url_for(page.prev.path) title= page.prev.title)
                            i.iconfont.icon-prev.mr-2.has-text-grey
                            span.has-text-weight-semibold= preContent
                    else
                        em
                    if page.next
                        - const nextContent= `${ page.next.title }`
                        a.button.is-default(href= url_for(page.next.path) title= page.next.title)
                            span.has-text-weight-semibold= nextContent
                            i.iconfont.icon-next.ml-2.has-text-grey
                if theme.comment_utteranc && theme.comment_utteranc.enable
                    article.mt-6.comment-container
                        script(
                            async
                            repo= theme.comment_utteranc.repo
                            src= "/js/client.js"
                            label= theme.comment_utteranc.label
                            issue-term= theme.comment_utteranc.issue_term || "pathname"
                            theme= theme.comment_utteranc.theme || "preferred-color-scheme"
                        )
                if theme.comment_valine && theme.comment_valine.enable
                    article.mt-6.comment-container#vcomments(
                        data-comment_valine_id= theme.comment_valine.appId
                        data-comment_valine_key= theme.comment_valine.appKey
                    )
                if theme.comment_disqus && theme.comment_disqus.enable
                    div#disqus_thread
                    article.mt-6.comment-container#disqus
                        script="var disqus_config = function () {this.page.url = '"+theme.comment_disqus.url+url_for(page.path)+"';this.page.identifier = '"+theme.comment_disqus.name+"';};"
                        script="(function() {var d = document, s = d.createElement('script');s.src = 'https://"+theme.comment_disqus.name+".disqus.com/embed.js';s.setAttribute('data-timestamp', +new Date());(d.head || d.body).appendChild(s);})();"
                        script(id="dsq-count-scr", src="//blog-pubgj2togw.disqus.com/count.js", async)
block script
    script(src= url_for("/js/post.js"))
    script.
        var timeout
        function postScroll () {
            if (timeout) {
                clearTimeout(timeout)
            }
            timeout = setTimeout(function () {
                document.querySelectorAll('.content figure').forEach(function (figure) {
                    if (figure.getBoundingClientRect().top + figure.clientHeight < window.innerHeight && figure.getBoundingClientRect().top > 58) {
                        figure.classList.add('hover')
                        hasHover = true
                    } else {
                        figure.classList.remove('hover')
                    }
                })
            }, 100)
        }

        var canScroll = true
        window.addEventListener('load', function () { setTimeout(postScroll, 500) })
        window.addEventListener('scroll', postScroll)
        document.querySelectorAll('.content figure').forEach(function (figure) {
            window.addEventListener('load', function () { 
                figure.querySelectorAll('iframe').forEach(function (iframe) {
                    var url = new URL(iframe.src)
                    if (url.searchParams.get('autoplay') !== 'true') {
                        var player = Stream(iframe)
                        player.addEventListener('play', () => {
                            if (window.matchMedia("screen and (min-width: 769px), print").matches) {
                                figure.classList.add('full-screen')
                                window.$claudia.disableScroll()
                            }
                        })
                        player.addEventListener('pause', () => {
                            figure.classList.remove('full-screen')
                            window.$claudia.enableScroll()
                        })
                    }
                })
            })


            figure.addEventListener('click', function () {
                if (figure.classList.contains('full-screen')) {
                    figure.classList.remove('full-screen')
                    canScroll = true
                    window.$claudia.enableScroll()
                } else {
                    if (window.matchMedia("screen and (min-width: 769px), print").matches) {
                        figure.querySelectorAll('img').forEach(function (img) {
                            
                            if (img.offsetWidth >= 2 * img.offsetHeight) {
                                figure.classList.add('panorama')
                                img.sizes = (window.innerHeight / img.offsetHeight * img.offsetWidth) + 'px'
                            } else {
                                img.sizes = 'max(100vw, 100vh)'
                            }
                        })
                        figure.classList.add('full-screen')
                        canScroll = false
                        window.$claudia.disableScroll()
                    }
                }
            })
        })
        var timeout2
        window.addEventListener('resize', function () {
            if (timeout2) {
                clearTimeout(timeout2)
            }
            timeout2 = setTimeout(function () {
                if (window.matchMedia("screen and (min-width: 769px), print").matches) {
                    !canScroll && window.$claudia.disableScroll()
                } else {
                    window.$claudia.enableScroll()
                }
            }, 100)

        })

